@font-face {
    font-family: "RalewayRegular";
    src: url("../../../assets/static_files/fonts/RalewayRegular.eot");
    src: url("../../../assets/static_files/fonts/RalewayRegular.eot?#iefix") format("embedded-opentype"),
    url("../../../assets/static_files/fonts/RalewayRegular.woff") format("woff"),
    url("../../../assets/static_files/fonts/RalewayRegular.ttf") format("truetype");
}

/* font-family: "RalewayMedium"; */
@font-face {
    font-family: "RalewayMedium";
    src: url("../../../assets/static_files/fonts/RalewayMedium.eot");
    src: url("../../../assets/static_files/fonts/RalewayMedium.eot?#iefix") format("embedded-opentype"),
    url("../../../assets/static_files/fonts/RalewayMedium.woff") format("woff"),
    url("../../../assets/static_files/fonts/RalewayMedium.ttf") format("truetype");
}

@font-face {
    font-family: "RalewaySemiBold";
    src: url("../../../assets/static_files/fonts/RalewaySemiBold.eot");
    src: url("../../../assets/static_files/fonts/RalewaySemiBold.eot?#iefix") format("embedded-opentype"),
    url("../../../assets/static_files/fonts/RalewaySemiBold.woff") format("woff"),
    url("../../../assets/static_files/fonts/RalewaySemiBold.ttf") format("truetype");
}

/* font-family: "RalewayBold"; */
@font-face {
    font-family: "RalewayBold";
    src: url("../../../assets/static_files/fonts/RalewayBold.eot");
    src: url("../../../assets/static_files/fonts/RalewayBold.eot?#iefix") format("embedded-opentype"),
    url("../../../assets/static_files/fonts/RalewayBold.woff") format("woff"),
    url("../../../assets/static_files/fonts/RalewayBold.ttf") format("truetype");
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.group::before,
.group::after {
    content: "";
    display: table;
}

.group::after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}

.social_network {
    position: fixed;
    top: 250px;
    left: 0;
}

.share .fb img{
    border-radius: 25px;
}


header {
    /*background-color: #9e630d;*/
    height: 208px;
}

.pattern{
    position: relative;
    /*background: url("../../assets/images/header_image.jpg") center no-repeat;*/
    /*background-size: cover;*/
    background-color: #2e3948;
}

/*.h_bg{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: rgba(255, 255, 255, 0.3);*/
/*}*/

.fixed-header {
    width: 100%;
    z-index: 1100;
    background-color: #46566b;
}

.fix_head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.content1 {
    /*background: url("../../assets/images/pattern1.png") right 5px no-repeat;*/
    position: relative;
    text-align: center;
    padding: 20px 0 30px 0;
    /*border: 1px solid green;*/
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.language {
    position: absolute;
    top: 62px;
    left: 38px;
    display: inline-block;
    vertical-align: middle;
    font-family: "RalewayBold", sans-serif;
    font-size: 14px;
}

.language li {
    display: inline-block;
    padding-right: 20px;
}

.language a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.language li a.l_active {
    color: #7ac5f2;
}

.logo {
    display: inline-block;
    /*vertical-align: middle;*/
}

.logo img {
    vertical-align: middle;
    width: 123px;
    height: 123px;
}

.slogan {
    font-family: "RalewayBold", sans-serif;
    display: inline-block;
    vertical-align: middle;
    padding-left: 26px;
}

h1 {
    font-size: 27px;
    color: #fff;
    margin: 0;
}

.slogan p {
    /*font-family: "RalewayRegular", sans-serif;*/
    font-size: 15px;
    color: #fff;
}

nav {
    background-color: #107c82;
}

.menu {
    font-family: "RalewayMedium", sans-serif;
    font-size: 16px;
    text-align: center;
}

.menu li {
    display: inline-block;
}

.menu a {
    position: relative;
    display: block;
    padding: 8px 24px 8px 24px;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
    overflow: hidden;
}

/*.menu a:hover {*/
    /*color: #f5c500;*/
/*}*/

.menu li a:hover:after, .menu li a:focus:after, .menu li a:active:after {
    width: 100%;
}

.menu li a:after {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 50%;
    width: 0;
    transform: translateX(-50%);
    height: 3px;
    background: #fff;
    transition: .35s;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

/*///////////////////////////////////////*/
/*-------------BACKGROUND1---------------*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.sl__slide {
    position: relative;
}

.b_color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.sl__slide img {
    width: 100%;
    height: auto;
}

.sl__content {
    position: relative;
}

.sl_desc {
    position: absolute;
    bottom: 105px;
    left: 110px;
    font-family: "RalewayBold", sans-serif;
}

.sl_desc p {
    font-family: "RalewayMedium", sans-serif;
    font-size: 16px;
    color: #fff;
    padding-bottom: 14px;
}

h2 {
    font-size: 30px;
    color: #fff;
    padding-bottom: 40px;
}

.l_button {
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 28px;
    background-color: #46566b;
    display: block;
    width: 152px;
    height: 34px;
    border: 3px solid #46566b;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.l_button:hover {
    background-color: transparent;
    border: 3px solid #46566b;
    border-radius: 4px;
    color: #46566b;
}

.slick-dots li button {
    width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 50%;
    /*box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, .2);*/
    transition: background .3s;
    background: #e8e8e8;
    box-sizing: content-box;
}

.slick-dots {
    bottom: 30px;
}

.slick-dots li button::before {
    content: '';
    /*width: 10px;*/
    /*height: 10px;*/
    /*background: #e8e8e8;*/
    /*opacity: 1;*/
    /*border-radius: 50%;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*transition: all .3s;*/
}

.slick-dots li button:hover,
.slick-dots li.slick-active button {
    /*border: 2px solid #107c82;*/
    width: 14px;
    height: 14px;
    background: #46566b;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

/*.slick-dots li button:hover::before,*/
/*.slick-dots li.slick-active button:before{*/
/*background: #107c82;*/
/*}*/

/*///////////////////////////////////////*/
/*-------------BACKGROUND2---------------*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.bg2 {
    /*background-color: #3a7593;*/
    background: rgba(255, 255, 255, 0.3) url("../images/OHT3JJ0.jpg") center no-repeat;
    background-size: cover;
}

.content2 {
    padding: 32px 0 54px 0;
}

.news {
    width: 48.33333333333333%;

}

.news:first-child {
    float: left;
}

.news:last-child {
    float: right;
}

.list_news {
    background-color: #fff;
    margin-top: 40px;
    padding: 12px 0;
    border: 1px solid #e8e8e8;
}


h3,
h4 {
    font-family: "RalewaySemiBold", sans-serif;
    font-size: 17px;
    color: #2d374b;
}

h3 {
    margin-left: 50px;
    color: #fff;
}

.line {
    width: 105px;
    height: 5px;
    margin-top: 12px;
    margin-left: 50px;
    background-color: #fff;
}

.news:last-child .line {
    width: 120px;
}

h4 {
    font-size: 16px;
    margin-top: 18px;
    margin-bottom: 10px;
}

.l_news {
    padding: 0 50px 22px 50px;
    border-bottom: 1px solid #e8e8e8;
}

.l_news:last-child {
    border-bottom: none;
}

.l_news > span {
    display: inline-block;
    margin-bottom: 12px;
    font-family: "RalewaySemiBold", sans-serif;
    font-size: 13px;
    color: #878787;
}

.list_news p {
    font-family: "RalewayRegular", sans-serif;
    font-size: 15px;
    color: #333333;
    line-height: 24px;
    overflow: hidden;
}

.news:last-child h4 {
    margin: 0;
}

.news:last-child .list_news {
    padding: 5px 0 15px 0;
}

.r_news {
    padding: 30px 50px 25px 50px;
    border-bottom: 1px solid #e8e8e8;
}

.r_news:last-child {
    border-bottom: 0;
}

.date_block {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: #2d374b;
    width: 85px;
    height: 75px;
}

.date {
    font-family: "RalewaySemiBold", sans-serif;
    font-size: 40px;
    color: #fff;
    text-align: center;
    line-height: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.date span {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

.description {
    width: 82%;
    padding-left: 4.2%;
    /*max-width: 393px;*/
    /*padding-left: 20px;*/
    display: inline-block;
    vertical-align: top;
}

/*///////////////////////////////////////*/
/*-------------BACKGROUND3---------------*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.bg3 {
    /*background: url("../../assets/images/bg3.svg") center no-repeat;*/
    width: 100%;
    background-color: #58acdb;
    height: auto;
    background-size: cover;
    overflow: hidden;
}

.content3 {
    padding: 50px 0;
}

.content3 h3 {
    font-size: 20px;
    color: #fff;
}

.content3 > .line {
    width: 85px;
    height: 4px;
    margin-bottom: 30px;
    background-color: #fff;
}

.tabs-nav {
    display: inline-block;
    vertical-align: top;
    width: 280px;
    height: 240px;
    margin-right: 1.666666666666667%;
    border: 1px solid #e8e8e8;
    background-color: #fff;
}

.tabs-nav li {
    border-bottom: 1px solid #e8e8e8;
}

.tabs-nav li:last-child {
    border-bottom: none;
}

.tabs-nav a img {
    vertical-align: middle;
    margin-right: 18px;
}

.tabs-nav a {
    font-family: "RalewayMedium", sans-serif;
    font-size: 16px;
    color: #878787;
    text-decoration: none;
    display: block;
    height: 60px;
    padding: 20px;
}

a.tab-active {
    background-color: #2d374b;
    color: #fff;
}

.tabs-stage {
    display: inline-block;
    vertical-align: top;
    width: 73.33333333333333%;
}

.information {
    background-color: #fff;
    border: 1px solid #e8e8e8;
}

.information > img {
    float: right;
    margin: 45px 30px 20px 0;
}

.about {
    padding: 50px 50px 0 50px;
}

.information .line {
    width: 100%;
    height: 10px;
    background-color: #2d374b;
    margin: 0;
}

h5 {
    font-family: "RalewayBold", sans-serif;
    font-size: 24px;
    color: #333333;
    margin-bottom: 28px;
}

.fz {
    font-family: "RalewayRegular", sans-serif;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
}

/*///////////////////////////////////////*/
/*-------------BACKGROUND4---------------*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.bg4 {
    /*background-color: #f9da58;*/
    background: rgba(255, 255, 255, 0.3) url("../../assets/images/OHT3JJ0.jpg") center no-repeat;
    background-size: cover;
}

.content4 {
    padding: 50px 0 60px 0;
}

.content4 h3 {
    font-size: 20px;
}

.content4 .line {
    width: 200px;
    height: 4px;
}

.container {
    margin-top: 30px;
}

.universities {
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 23.33333333333333%;
    margin-right: 1.666666666666667%;
    border: 1px solid #e8e8e8;
}

.universities:last-child {
    margin-right: 0;
}

.universities .univer_img {
    background-color: #46566b;
    position: relative;
    display: inline-block;
    width: 95.71428571428571%;
    margin: 6px 0;
    height: 170px;
}

.b_univer {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 55, 75, 0.7);
    opacity: 0;
    z-index: 101;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.b_univer p {
    font-family: "RalewayMedium", sans-serif;
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.univer_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.univer_img:hover .b_univer {
    opacity: 1;
}

.universities ul {
    /*padding-left: 35px;*/
    text-align: left;
}

.fz span {
    display: inline-block;
    vertical-align: top;
    width: 5%;
    /*margin-right: 2%;*/
}

.universities ul li {
    vertical-align: middle;
    padding-top: 8px;
    padding-left: 8.571428571428571%;
    min-height: 66px;
    border-bottom: 1px solid #e8e8e8;
}

.universities ul .n_univer {
    display: inline-block;
    vertical-align: top;
    width: 92%;
    padding-left: 7.7%;

}

.universities ul li:last-child {
    border-bottom: none;
}

/*///////////////////////////////////////*/
/*-------------BACKGROUND5---------------*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.event {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 33.33333333333333%;
    height: auto;
}

.b_event {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.event img {
    width: 100%;
    height: 400px;
}

.ccp {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    /*width: 100%;*/
    /*height: auto;*/
    text-align: center;
}

.ccp h2 {
    padding-bottom: 30px;
}

.ccp .fz {
    color: #fff;
}

.ccp .l_button {
    font-family: "RalewayBold", sans-serif;
    margin: 90px auto 0 auto;
}

/*///////////////////////////////////////*/
/*-------------BACKGROUND6---------------*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.bg6 {
    /*background-color: #f9da58;*/
    /*background: url("../../assets/images/background.jpg") center no-repeat;*/
    /*background-size: cover;*/
    background: rgba(255, 255, 255, 0.3) url("../../assets/images/OHT3JJ0.jpg") center no-repeat;
    background-size: cover;
}

.content5 {
    padding: 50px 0;
}

.content5 h3 {
    font-size: 20px;
}

.content5 .line {
    width: 65px;
    background-color: #fff;
}

.gallery {
    margin: 40px 0 20px 0;
}

.gallery .photo_desc {
    position: relative;
    width: 23.33333333333333%;
    height: 190px;
    display: inline-block;
    vertical-align: top;
    margin-right: 1.666666666666667%;
    margin-bottom: 20px;
    border: 4px solid #fff;
    overflow: hidden;
}

.photo_desc img{
    width: 100%;
    height: 100%;
}

.photo_hover{
    font-family: "RalewaySemiBold", sans-serif;
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 10px 10px 10px;
    background-color: rgba(0,0,0, 0.6);
    opacity: 0;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}


.photo_hover p{
    width: 100%;
    height: 100%;
    text-align: center;
}

.photo_desc:hover .photo_hover{
    opacity: 1;
    top: 0;
}

.gallery img:nth-child(4n) {
    margin-right: 0;
}

.content5 .l_button {
    font-family: "RalewayBold", sans-serif;
    color: #fff;
    background-color: #46566b;
    border: 3px solid #46566b;
    margin: 0 auto;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.content5 .l_button:hover {
    background-color: transparent;
}

/*///////////////////////////////////////*/
/*-------------BACKGROUND7---------------*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.bg7 {
    background-color: #58acdb;
}

.content6 {
    padding: 55px 0;
}

.content6 h3 {
    font-size: 20px;
    margin-left: 0;
    text-align: center;
}

.content6 .line {
    width: 95px;
    margin: 15px auto 40px auto;
}

.content6 .f_block {
    display: inline-block;
    vertical-align: top;
    width: 45.76271186440678%;
}

.f_block h4 {
    margin: 25px 0;
}

.content6 .s_block:last-child {
    display: inline-block;
    vertical-align: top;
    width: 54.23728813559322%;
    border-left: 1px solid #e8e8e8;
}

.content6 form {
    width: 90.625%;
    margin-left: 9.375%;
}

.content6 input,
textarea {
    font-family: "RalewayMedium", sans-serif;
    font-size: 16px;
    color: #878787;
    width: 100%;
    border: 1px solid #e8e8e8;
    padding: 12px 0 14px 20px;
    height: auto;
}

.content6 input {
    margin-bottom: 10px;
}

textarea {
    height: 155px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #2d374b;
    width: 200px;
    height: 45px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

input[type="submit"]:hover {
    background-color: transparent;
    border: 3px solid #2d374b;
    border-radius: 4px;
    color: #2d374b;
}

.contacts {
    color: #2d374b;
}

.contacts li {
    margin-bottom: 18px;
}

.contacts p {
    display: inline-block;
    vertical-align: top;
}

.contacts li img {
    vertical-align: middle;
    margin-right: 20px;
}

::selection {
    background: green;
    color: #fff;
}

/*///////////////////////////////////////*/
/*---------------FOOTER------------------*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

footer {
    background-color: #2d374b;
    padding: 40px 0;
}

footer h4 {
    text-align: center;
    margin: 0;
    color: #fff;
}

footer h4 img {
    vertical-align: middle;
    margin-right: 15px;
}


/*///////////////////////////////////////*/
/*------------STUDENT-COUNCIL------------*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.bg8{
    /*background: url("../../assets/images/bg3.svg") center no-repeat;*/
    background-size: cover;
    background-color: #58acdb;
    padding: 60px 0 80px 0;
}

.content7 h3{
    font-size: 20px;
    color: #fff;
}

.content7 > .line{
    background-color: #fff;
    width: 155px;
}


.student_council {
    font-family: "RalewayMedium", sans-serif;
    font-size: 0;
    background-color: #fff;
    width: 100%;
    margin-top: 30px;
    border: 1px solid #e8e8e8;
}

.student_council li {
    display: inline-block;
    width: 25%;
}

.student_council a {
    display: block;
    height: 50px;
    font-size: 16px;
    color: #878787;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    border-right: 1px solid #e8e8e8;
}

.student_council li:last-child a{
    border-right: none;
}

.student_council li a.c_active{
    background-color: #2d374b;
    color: #fff;
}

.about_council{
    background-color: #fff;

}

.about_council > img{
    float: right;
    margin: 15px;
}

.about_council .line{
    background-color: #2d374b;
    width: 100%;
    height: 10px;
    margin: 0;
}

.c_information{
    padding: 30px;
    text-align: center;
}

.c_information img{
    width: 140px;
    height: 140px;
}

.member{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 40%;
    margin-bottom: 15px;
}

h6{
    font-family: "RalewayBold", sans-serif;
    font-size: 18px;
    color: #036d6d;
    text-decoration: underline;
}

.member p{
    font-family: "RalewaySemiBold", sans-serif;
    font-size: 16px;
    color: #000;
    margin-top: 5px;
    padding-left: 16px;
}

.member span{
    display: inline-block;
    margin-bottom: 5px;
    padding-left: 16px;
}

.c_information p{
    margin-top: 15px;
}


/*///////////////////////////////////////*/
/*---------------GALLERY-----------------*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.g_photos{
    background: url("../../assets/images/OHT3JJ0.jpg") center no-repeat;
    background-size: cover;
    padding-bottom: 70px;
    /*background-color: #58acdb;*/
}

.g_photos h1{
    text-align: center;
    margin: 60px 0 0 0;
}

.images{
    text-align: center;
    padding: 50px 0;
}

.images a{
    width: 23.33333333333333%;
    height: 190px;
    display: inline-block;
    vertical-align: top;
    margin-right: 1.666666666666667%;
    margin-bottom: 20px;
}

.images a:nth-child(4n){
    margin-right: 0;
}

.images a img{
    width: 100%;
    height: 100%;
}


