<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TÜRK KENEŞİ TÜRK ÜNİVERSİTELER BİRLİĞİ</title>
    <link rel="icon" type="image/png" href="" sizes="32x32">
    <link rel="stylesheet" href="assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="assets/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="assets/css/styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="social">
    <img src="assets/images/facebook.png"> <br>
    <img src="assets/images/LogoTwitter.jpg"> <br>
    <img src="assets/images/instagramm.png">
</div>
<header id="home">
    <div class="pattern">
        <div class="h_bg"></div>
        <div class="grid content1">
            <ul class="language">
                <li><a href="#">Tr</a></li>
                <li><a href="#">eng</a></li>
                <li><a href="#">kg</a></li>
                <li><a href="#">az</a></li>
                <li><a href="#">kz</a></li>
            </ul>

            <div class="logo">
                <img src="assets/images/logo-Turk-Uni.png" alt="logo">
                <div class="slogan">
                    <h1>Turkic Council</h1>

                    <p>Turkic-University Union 2016</p>
                </div>
            </div>
        </div>
    </div>
    <nav class="fixed-header">
        <div class="grid">
            <ul class="menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#about">About us</a></li>
                <li><a href="#member">Member Universities</a></li>
                <li><a href="#">Student Council</a></li>
                <li><a href="#entertaintments">Activities</a></li>
                <li><a href="#photos">Photos</a></li>
                <li><a href="#contacts">Contacts</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="g_photos">
    <div class="grid group">

        <h1>Photos</h1>
            <div class="gallery">
                <a href="#"><div class="photo_desc">
                    <div class="photo_hover">
                        <p>AmanAman AmanAmanAmanAmanAman AmanAmanAmanAmanAman</p>
                    </div>
                    <img class="wow zoomIn" data-wow-offset="200" src="assets/images/IMG_0518-2.jpg" alt="img">
                </div></a>
                <a href="#"><div class="photo_desc">
                    <div class="photo_hover">
                        <p>khjdsfkhkds hadsjkkdlfhj lhfjkasdhfjk</p>
                    </div>
                    <img class="wow zoomIn" data-wow-offset="200" src="assets/images/IMG_0526-2.jpg" alt="img"></div></a>
                <a href="#"><div class="photo_desc">
                    <div class="photo_hover">
                        <p>khjdsfkhkdsjfhadsjkkdlfhjasklhfjkasdhfjk</p>
                    </div>
                    <img class="wow zoomIn" data-wow-offset="200" src="assets/images/IMG_0530-2.jpg" alt="img"></div></a>
                <a href="#"><div class="photo_desc">
                    <div class="photo_hover">
                        <p>khjdsfkhkdsjfhadsjkkdlfhjasklhfjkasdhfjk</p>
                    </div>
                    <img class="wow zoomIn" data-wow-offset="200" src="assets/images/IMG_0538-2.jpg" alt="img"></div></a>
                <a href="#"><div class="photo_desc">
                    <div class="photo_hover">
                        <p>khjdsfkhkdsjfhadsjkkdlfhjasklhfjkasdhfjk</p>
                    </div>
                    <img class="wow zoomIn" data-wow-offset="200" src="assets/images/IMG_0549-2.jpg" alt="img"></div></a>
                <a href="#"><div class="photo_desc">
                    <div class="photo_hover">
                        <p>khjdsfkhkdsjfhadsjkkdlfhjasklhfjkasdhfjk</p>
                    </div>
                    <img class="wow zoomIn" data-wow-offset="200" src="assets/images/IMG_0557-2.jpg" alt="img"></div></a>
                <a href="#"><div class="photo_desc">
                    <div class="photo_hover">
                        <p>khjdsfkhkdsjfhadsjkkdlfhjasklhfjkasdhfjk</p>
                    </div>
                    <img class="wow zoomIn" data-wow-offset="200" src="assets/images/IMG_0722-2.jpg" alt="img"></div></a>
                <a href="#"><div class="photo_desc">
                    <div class="photo_hover">
                        <p>khjdsfkhkdsjfhadsjkkdlfhjasklhfjkasdhfjk</p>
                    </div>
                    <img class="wow zoomIn" data-wow-offset="200" src="assets/images/IMG_0727-2.jpg" alt="img"></div></a>
            </div>
    </div>
</div>


<div class="bg7" id="contacts">
    <div class="grid content6">
        <h3>Contact us</h3>

        <div class="line"></div>

        <div class="f_block">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8275.258121169378!2d74.56836067110994!
            3d42.83598807541677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec9ebd50abdf1%3A0x14ce488dddb2fbdb!
            2z0JrRi9GA0LPRi9C30YHQutC-LdCi0YPRgNC10YbQutC40Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiAi0JzQsNC90LDRgSI!5e0!3m2!1sru!
            2skg!4v1479375066889" width="88.88888888888889%" height="305" frameborder="0" style="border:0"
                    allowfullscreen></iframe>
            <h4>Bishkek, KYRGYZ REPUBLIC, micro-region Djal, 43</h4>

            <ul class="contacts fz">
                <li><img src="assets/images/message.png" alt="image">

                    <p>maub@manas.edu.kg</p></li>
                <li><img src="assets/images/phone.png" alt="image">

                    <p>+996 312 49 27 88<br>+996 312 49 27 86</p></li>
                <li><img src="assets/images/fax.png" alt="image">

                    <p>+996 312 49 27 81-89<br>+996 312 49 27 61</p></li>
            </ul>
        </div>
        <div class="s_block">
            <form method="post" action="#">
                <input type="text" name="name" maxlength="25" placeholder="First Name">
                <input type="email" name="email" placeholder="E-mail">
                <input type="text" name="name" placeholder="Subject">
                <!--<input type="text" name="name" placeholder="Text your message here...">-->
                <label>
                    <textarea name="text">Text your message here...</textarea>
                </label>
                <!--<textarea></textarea>-->
                <input type="submit" value="SEND MESSAGE">
            </form>
        </div>

    </div>
</div>

<footer>
    <div class="grid">
        <h4><img src="assets/images/copyright.png" alt="copyright">2016 TURKIC COUNCIL INTER-UNIVERSITY UNION</h4>
    </div>
</footer>
<script src="assets/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/script.js"></script>
<script>
    $(".item").magnificPopup({
        type: 'image',
        gallery: {
            enabled: true
        }
    });
</script>
</body>
</html>