{% extends 'base.html' %}


{% load staticfiles %}


{% block content %}

    <header id="home">
        <div class="pattern">

            <div class="h_bg"></div>
            <div class="grid content1">
                <ul class="language">
                    <li><a href="/">TR</a></li>
                    <li><a href="/en">eng</a></li>
                    <li><a href="/ru">кыр</a></li>
                    <li><a href="#">az</a></li>
                    <li><a href="#">kz</a></li>
                </ul>
                {% load i18n %}
                <div class="logo">
                    <a href="{% url 'index' %}"> <img src="{% static 'images/logo-Turk-Uni.png' %}" alt="logo"></a>

                    <div class="slogan">
                        <h1>{% trans "Header" %}</h1>

                        <p>TÜRK ÜNİVERSİTELER BİRLİĞİ</p>
                    </div>
                    
                    <a href="#"><img src="{% static 'images/logo_turrkon.png' %}"></a>
                </div>
            </div>
        </div>


        <nav class="fixed-header">
            <div class="grid menu-collapsed">
                <div class="bar"></div>
                    <ul class="menu">
                        <li><a href="#home">{% trans "Main page" %}</a></li>
                        <li><a href="#news">{% trans "News" %}</a></li>
                        <li><a href="#about">{% trans "About" %}</a></li>

                        <li><a href="#member">{% trans "members" %}</a></li>

                        <li><a href="#entertaintments">{% trans "entertaiments" %}</a></li>
                        <li><a href="#photos">{% trans "photos" %}</a></li>
                        <li><a href="#council">{% trans "student council" %}</a></li>
                        <li><a href="http://www.turkkon.org/tr-TR/AnaSayfa"
                               target="_blank">{% trans "turkic council" %}</a>
                        </li>
                        <li><a href="#contacts">{% trans "contacts" %}</a></li>
                    </ul>
            </div>
        </nav>

    </header>


    <div class="social_network">
        <ul class="share">
            <li class="fb"><a class="social " href="#"><img src="{% static 'images/fb.png' %}" alt="social icon"></a>
            </li>
            <li class="twitter"><a class="social " href="#"><img src="{% static 'images/twitter.png' %}"
                                                                 alt="social icon"></a>
            </li>
            <li class="instagram"><a class="social " href="#"><img src="{% static 'images/Instagram.png' %}"
                                                                   alt="social icon"></a>
            </li>
        </ul>
    </div>
    <div class="background1">

        <div class="slider">
            <div class="sl__slide">
                <div class="b_color"></div>
                <img src="{% static 'images/slider_1.jpg' %}" alt="image">

                <div class="grid sl__content">
                    <div class="sl_desc">

                        <h2>Turkic Culture Development</h2>
                        <a href="#" class="l_button">Read more</a>
                    </div>
                </div>
            </div>

            <div class="sl__slide">
                <div class="b_color"></div>
                <img src="{% static 'images/slider_2.jpg' %}" alt="image">

                <div class="grid sl__content">
                    <div class="sl_desc">

                        <h2>Turkic Culture Development</h2>
                        <a href="#" class="l_button">Read more</a>
                    </div>
                </div>
            </div>

            <div class="sl__slide">
                <div class="b_color"></div>
                <img src="{% static 'images/slider_3.jpg' %}" alt="image">

                <div class="grid sl__content">
                    <div class="sl_desc">
                        <h2>Turkic Culture Development</h2>


                        <a href="#" class="l_button">Read more</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="bg2" id="news">
        <div class="grid content2 group">
            <div class="news">
                <h3>Güncel haberler</h3>

                <div class="line"></div>
                <div class="list_news wow slideInLeft" data-wow-offset="250">
                    {% for new in news %}
                        <div class="l_news">
                            <a href="{{ new.get_absolute_url }}"><h4>{{ new.title }}</h4></a>
                            <span>{{ new.timestamp }}</span>

                            <p>{{ new.description|truncatewords:11 }}</p>
                        </div>
                    {% endfor %}

                </div>
            </div>

            <div class="news">
                <h3>Güncel duyurular</h3>

                <div class="line"></div>
                <div class="list_news wow slideInRight" data-wow-offset="250">
                    {% for event in events %}
                        <div class="r_news">
                            <div class="date_block">
                                <div class="date"><br><span>{{ event.timestamp }}</span></div>
                            </div>
                            <div class="description">
                                <a href="{{ event.get_absolute_url }}"><h4>{{ event.title }}</h4></a>

                                <p>{{ event.description|truncatewords:11 }}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    <div class="bg3" id="about">
        <div class="grid content3">
            <h3>Hakkımızda</h3>

            <div class="line"></div>
            <ul class="tabs-nav">
                <li><a href="#tab-1"><img src="{% static 'images/icon1.png' %}" alt="icon">Hakkımızda</a></li>
                <li><a href="#tab-2"><img src="{% static 'images/icon2.png' %}" alt="icon">{% trans 'goals' %}</a></li>
                <li><a href="#tab-5"><img src="{% static 'images/icon2.png' %}" alt="icon">{% trans 'directivies' %}</a>
                </li>
                <li><a href="#tab-4"><img src="{% static 'images/icon4.png' %}" alt="icon">Dönem Başkanı</a></li>
                <li><a href="#tab-3"><img src="{% static 'images/icon3.png' %}" alt="icon">Tanıtım</a></li>

            </ul>

            <div class="tabs-stage">
                <div class="information group" id="tab-1">
                    <div class="line"></div>
                    <div class="about">
                        <h5>Tarih</h5>

                        <p class="fz">Türk Keneşi üye ülkeleri arasında yükseköğretim alanında iş birliğini
                            gerçekleştirmek
                            amacıyla
                            kurulmuş olan Türk Üniversiteler Birliği; 10 Ağustos 2012 tarihinde Çolpon-Ata’ da yapılan
                            Türk
                            Keneşi Eğitim Bakanları Toplantısı ve 23 Ağustos 2012 tarihinde Bişkek’ te gerçekleştirilen
                            Türk
                            Keneşi İkinci Zirvesi’ nde alınan kararlar sonucunda şekillenmiştir. Nihayetinde 28-29 Mart
                            2013
                            tarihleri arasında İstanbul’ da yapılan Türk Keneşi Türk Üniversiteler Birliği Hazırlık
                            toplantısında alınan kararlar ile yönergesi hazırlanarak kuruluşu gerçekleştirilmiştir.</p>
                    </div>
                    <img src="{% static 'images/pattern2.png' %}" alt="pattern">
                </div>
                <div class="information group" id="tab-2">
                    <div class="line"></div>
                    <div class="about">
                        <h5>Amaçlar</h5>

                        <p class="fz">

                            &#149 Ortak tarih, kültür, dil mirasından yola çıkarak yüksek öğretim kurumları
                            arasında
                            işbirliği
                            sağlanması,çağdaş, bilimsel düzeye uygun eğitim standartlarının uygulanması süretiyle ortak
                            kimlik
                            bilinci yüksek nesiller yetiştirilmesi, <br>

                            &#149 Üye üniversitelerdeki programların uyumlu hale getirilmesi, <br>

                            &#149 Ortak kredi transfer sisteminin uygulanması,<br>

                            &#149 Öğretim elemanı yetiştirme programlarının teşvik edilmesi,<br>

                            &#149 Öğrenci ve öğretim elemanı değişim programlarının uygulamaya konulması,<br>

                            &#149 Üye üniversitelerin birbirlerinin diploma denkliğini tanımalarına yönelik uygun
                            zeminin
                            oluşturulması,<br>

                            &#149 Üniversitelerin belli alanlarda sahip oldukları öne çıkan üstünlüklerden
                            yararlanılması,<br>

                            &#149 Uygulamaya yönelik ortak öğretim, araştırma programlarının ve projelerin
                            yürütülmesi,<br>
                            <br>
                            &#149 Üye üniversiteler arasında sempozyumlar, akademik faaliyetler, kültür, bilim ve spor
                            alanlarında
                            yarışmalar düzenlenmesi,<br>

                            &#149 Türk dünyasına yönelik çalışmalar yürüten öğrencilere özel burs sağlanması,<br>
                            &#149 Ortak tarih, medeniyet ve edebiyatımıza yönelik derslerin tüm üye ülke
                            üniversitelerinde
                            verilmesi yönünde çalışmalar yapmaktır.<br>

                        </p>

                    </div>
                    <img src="{% static 'images/pattern2.png' %}" alt="pattern">
                </div>

                <div class="information group" id="tab-5">
                    <div class="line"></div>
                    <div class="about">
                        <h5>Yönergeler</h5>

                        <p class="fz">
                            <a href="{% static 'images/directive.pdf' %}"> Üniversiteler Birliği ve Yükseköğretim Alanı
                                Oluşturma Yönergesi</a>

                        </p>

                    </div>
                    <img src="{% static 'images/pattern2.png' %}" alt="pattern">
                </div>

                <div class="information group" id="tab-3">
                    <div class="line"></div>
                    <div class="about">
                        <h5>Presentasyon</h5>

                        <p class="fz"></p>
                    </div>
                    <img src="{% static 'images/pattern2.png' %}" alt="pattern">
                </div>
                <div class="information group" id="tab-4">
                    <div class="line"></div>
                    <div class="about administration">
                        <h5>Dönem Başkanı</h5>
                        <img src="{% static 'images/rsz_rektör.jpg' %}">
                        <p class="fz"><strong>Prof. Dr. Sebahattin Balcı</strong><br>
                            Kırgızstan-Türkiye Manas Üniversite Rektörü <a href="">CV</a> <br>
                            Türk Keneşi Türk Üniversiteler Birliği Başkanı
                        </p>
                    </div>
                    <img src="{% static 'images/pattern2.png' %}" alt="pattern">
                </div>
            </div>
        </div>
    </div>

    <div class="bg4" id="member">
        <div class="grid content4">
            <h3>Üye üniversiteler</h3>

            <div class="line"></div>
            <div class="container">
                <div class="universities wow slideInUp" data-wow-offset="200">
                    <div class="univer_img">
                        <div class="b_univer">
                            <p>Azerbaijan<br>State Universitites</p>
                        </div>
                        <img src="{% static 'images/rsz_azerbaycan_bayrak_harita.png' %}" alt="img">
                    </div>
                    <ul class="fz">
                        <li><span>1.</span>

                            <a href="http://bsu.edu.az/" target="_blank">
                                <div class="n_univer">Bakü Delet Üniversitesi</div>
                            </a>
                        </li>
                        <li><span>2.</span>

                            <a href="http://www.amu.edu.az/" target="_blank">
                                <div class="n_univer">Azerbaycan Tıp Üniversitesi</div>
                            </a>
                        </li>
                        <li><span>3.</span>

                            <a href="http://azmiu.edu.az/" target="_blank">
                                <div class="n_univer">Azerbaycan Mimarlık ve İnşaat Üniversitesi</div>
                            </a>
                        </li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>

                <div class="universities wow slideInUp" data-wow-offset="200" data-wow-delay=".25s">
                    <div class="univer_img">
                        <div class="b_univer">
                            <p>Kazakhstan<br>State Universitites</p>
                        </div>
                        <img src="{% static 'images/kz.png' %}" alt="img">
                    </div>
                    <ul class="fz">
                        <li><span>1.</span>

                            <a href="http://www.kaznu.kz/en/" target="_blank">
                                <div class="n_univer">Al-Farabi Kazak Milli Üniversitesi</div>
                            </a>
                        </li>
                        <li><span>2.</span>

                            <a href="http://www.enu.kz/tr/" target="_blank">
                                <div class="n_univer">L.N Gumilyov Avrasya<br> Devlet Üniversitesi</div>
                            </a>
                        </li>
                        <li><span>3.</span>

                            <a href="http://www.ayu.edu.tr/">
                                <div class="n_univer">Ahmet Yesevi Uluslararası Kazak Türk Üniversitesi</div>
                            </a>
                        </li>
                        <li><span>4.</span>

                            <a href="http://nu.edu.kz/portal/faces/main">
                                <div class="n_univer">Nazarbayev Üniversitesi</div>
                            </a>
                        </li>
                        <li></li>
                    </ul>
                </div>

                <div class="universities wow slideInUp" data-wow-offset="200" data-wow-delay=".50s">
                    <div class="univer_img">
                        <div class="b_univer">
                            <p>Kyrgyzstan<br>State Universitites</p>
                        </div>
                        <img src="{% static 'images/kg.png' %}" alt="img">
                    </div>
                    <ul class="fz">
                        <li><span>1.</span>

                            <a href="https://www.knu.kg/">
                                <div class="n_univer">Yusuf Balasaguni Kırgız Milli Üniversitesi</div>
                            </a>
                        </li>
                        <li><span>2.</span>

                            <a href="http://www.bhu.kg/">
                                <div class="n_univer">Hüseyin Karasaev Bişkek Beşeri Bilimler Üniversitesi</div>
                            </a>
                        </li>
                        <li><span>3.</span>

                            <a href="http://www.iuk.kg/">
                                <div class="n_univer">Uluslararası Kırgızistan Üniversitesi</div>
                            </a>
                        </li>
                        <li><span>4.</span>

                            <a href="http://www.manas.edu.kg/">
                                <div class="n_univer">Kırgızistan-Türkiye Manas Üniversitesi</div>
                            </a>
                        </li>
                        <li></li>
                    </ul>
                </div>

                <div class="universities wow slideInUp" data-wow-offset="200" data-wow-delay=".75s">
                    <div class="univer_img">
                        <div class="b_univer">
                            <p>Turkey<br>State Universitites</p>
                        </div>
                        <img src="{% static 'images/tr.png' %}" alt="img">
                    </div>
                    <ul class="fz">
                        <li><span>1.</span>

                            <a href="http://www.istanbul.edu.tr/">
                                <div class="n_univer">İstanbul Üniversitesi</div>
                            </a>
                        </li>
                        <li><span>2.</span>

                            <a href="http://www.ege.edu.tr/eng-0/homepage.html#tab-1">
                                <div class="n_univer">Ege Üniversitesi</div>
                            </a>
                        </li>
                        <li><span>3.</span>

                            <a href="http://www.atauni.edu.tr/">
                                <div class="n_univer">Atatürk Üniversitesi</div>
                            </a>
                        </li>
                        <li>
                            <span>4.</span>
                            <a href="http://www.beu.edu.tr/Default.aspx">
                                <div class="n_univer">Bitlis Eren Üniversitesi</div>
                            </a>
                        </li>
                        <li>
                            <span>5.</span>
                            <a href="https://www.ogu.edu.tr/" target="_blank">
                                <div class="n_univer">Eskişehir Osmangazi Üniversitesi</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bg8" id="council">
        <div class="grid content7">
            <h3>{% trans 'student council' %}</h3>

            <div class="line"></div>

            <ul class="student_council">

                <li><a href="#student2">{% trans 'goals' %}</a></li>
                <li><a href="#student4">{% trans 'students' %}</a></li>
                <li><a href="#student3">{% trans 'directivies' %}</a></li>
                <li><a href="#student1">{% trans 'entertaiments' %}</a></li>
                <!--<li><a href="#student5">Photos</a></li>-->
            </ul>

            <div class="council">


                <div class="about_council group" id="student2">
                    <div class="line"></div>
                    <div class="c_information">

                        <h5>{% trans 'goals' %}</h5>
                        <img src="{% static 'images/council.png' %}" alt="logo">
                        <p class="fz">Türk Keneşi Türk Üniversiteler Birliği’ne üye üniversite
                            öğrencileri arasında eğitim, spor ve kültürel alanlarda iş birliği yapılmasını ve
                            geliştirilmesini sağlamaktır.</p>
                    </div>
                    <img src="{% static 'images/pattern2.png' %}" alt="pattern">
                </div>

                <div class="about_council group" id="student3">
                    <div class="line"></div>
                    <div class="c_information">
                        <h5>{% trans 'directivies' %}</h5>
                        <a href="#"><p class="fz">Yönerge TR</p></a>
                        <a href="#"><p class="fz">Yönerge KG</p></a>
                        <a href="#"><p class="fz">Yönerge KZ</p></a>
                        <a href="#"><p class="fz">Yönerge AZ</p></a>
                    </div>
                    <img src="{% static 'images/pattern2.png' %}" alt="pattern">
                </div>

                <div class="about_council" id="student4">
                    <div class="line"></div>
                    <div class="c_information">
                        <h5>Öğrenciler</h5>
                        <div class="member">
                            <h6>Azerbaycan</h6>
                            <p>Mr. ŞahmarRefili</p>
                            <span class="fz">e-mail: mezun_187@mail.ru</span>

                            <p>Mr. Tural Azizov</p>
                            <span class="fz">E-mail: dr.azizov.tural@hotmail.com</span>
                        </div>

                        <div class="member">
                            <h6>Kırgızistan</h6>
                            <p>Mr. Atilla Güven</p>
                            <span class="fz">E-mail: atikhan1987@gmail.com </span>

                            <p>Mr. Kumarbek Babataev</p>
                            <span class="fz">E-mail: babataev.kumarbek@mail.ru</span>
                        </div>

                        <div class="member">
                            <h6>Türkiye</h6>
                            <p> Mr. Sercan Abdulbaki</p>
                            <span class="fz">E-mail: a.baki_sercan1905@hotmail.com</span>

                            <p> Ms. Canan Şimşek</p>
                            <span class="fz">E-mail: ataunictlecanan1@gmail.com</span>

                            <p> Ms. CansuDiramali</p>
                            <span class="fz">E-mail: cansudiramali@gmail.com</span>

                            <p> Mr. OkanAtici</p>
                            <span class="fz">E-mail: okan.atc199548@gmail.com</span>

                            <p> Mr. Furkan Kazancı</p>
                            <span class="fz">E-mail: fkznc@hotmail.com</span>
                        </div>

                        <div class="member">
                            <h6>Kazakistan</h6>
                            <p>Mr. Alp Avci</p>
                            <span class="fz">E-mail: alp_aslan_10@hotmail.com</span>

                            <!--<p></p>-->
                            <!--<span class="fz"></span>-->
                        </div>

                    </div>

                    <!--<img src="assets/images/pattern2.png" alt="pattern">-->
                </div>

                <div class="about_council group" id="student1">
                    <div class="line"></div>

                </div>

                <!--<div class="about_council" id="student5">-->
                <!--<div class="line"></div>-->
                <!--<div class="c_information">-->
                <!--<h5>Photos</h5>-->
                <!--<p class="fz"></p>-->
                <!--</div>-->
                <!--&lt;!&ndash;<img src="assets/images/pattern2.png" alt="pattern">&ndash;&gt;-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <div class="bg5" id="entertaintments">
        <div class="event">
            <div class="b_event"></div>
            <img src="{% static 'images/etkinlik_spor.jpg' %}" alt="conference">

            <div class="ccp">
                <h2>Spor ve Sanat Etkinlikleri</h2>

{#                                <p class="fz">Lorem ipsum dolor sit amet,<br>#}
{#                                    consectetur adipiscing elit</p>#}
                <a href="{% url 'activity_1' %}" class="l_button">READ MORE</a>
            </div>
        </div>

        <div class="event">
            <div class="b_event"></div>
            <img src="{% static 'images/kongre.jpg' %}" alt="conference">
            <div class="ccp">
                <h2>Kongre ve Sempozyumlar</h2>

                {#                <p class="fz">Lorem ipsum dolor sit amet,<br>#}
                {#                    consectetur adipiscing elit</p>#}
                <a href="{% url 'activity_2' %}" class="l_button">READ MORE</a>
            </div>
        </div>

        <div class="event">
            <div class="b_event"></div>
            <img src="{% static 'images/activity_3.jpg' %}" alt="conference">

            <div class="ccp">
                <h2>Projeler</h2>

                {#                <p class="fz">Lorem ipsum dolor sit amet,<br>#}
                {#                    consectetur adipiscing elit</p>#}
                <a href="{% url 'activity_3' %}" class="l_button">READ MORE</a>
            </div>
        </div>
    </div>

    <div class="bg6" id="photos">
        <div class="grid content5">
            <h3>Photos</h3>

            <div class="line"></div>
            <div class="gallery">
                <a href="{% url 'photos1' %}">
                    <div class="photo_desc">
                        <div class="photo_hover">
                            <p>Türk Üniversiteler Birliği Erzurum Toplatısı</p>
                        </div>
                        <img class="wow zoomIn" data-wow-offset="200" src="{% static 'images/IMG_0518-2.jpg' %}"
                             alt="img">
                    </div>
                    <a href="{% url 'photos2' %}">
                        <div class="photo_desc">
                            <div class="photo_hover">
                                <p>Türk Keneşi ve TÜRKÜNİB Bişkek Toplantısı</p>
                            </div>
                            <img class="wow zoomIn" data-wow-offset="200" src="{% static 'images/IMG_0557-2.jpg' %}"
                                 alt="img">
                        </div>
                    </a>
                    <a href="{% url 'photos3' %}">
                        <div class="photo_desc">
                            <div class="photo_hover">
                                <p>TÜRKÜNİB Öğrenci Keneşi Bişkek toplantısı</p>
                            </div>
                            <img class="wow zoomIn" data-wow-offset="200" src="{% static 'images/IMG_0549-2.jpg' %}"
                                 alt="img">
                        </div>
                    </a>
                    <div class="photo_desc">
                        <div class="photo_hover">
                            <p>Conference2016</p>
                        </div>
                        <img class="wow zoomIn" data-wow-offset="200" src="{% static 'images/IMG_0827-2.jpg' %}"
                             alt="img">
                    </div>

                </a>

            </div>
        </div>
    </div>

    <div class="kurumlar">
        <div class="grid content_kurumlar">
            <h3>İlgili Kurumlar</h3>
            <div class="line"></div>
            <div class="curum_main">
                <a href="#"><img src="{% static 'images/turk-akademi-ic.png' %}" class="kurumlar_img"></a>
                <a href="#"><img src="{% static 'images/turksoy-logo.png' %}" class="kurumlar_img"></a>
                <a href="#"><img src="{% static 'images/mirac.png' %}" class="kurumlar_img"></a>
            </div>
        </div>
    </div>

    <div class="bg7" id="contacts">
        <div class="grid content6">
            <h3>Contact us</h3>

            <div class="line"></div>

            <div class="f_block">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8275.258121169378!2d74.56836067110994!
            3d42.83598807541677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec9ebd50abdf1%3A0x14ce488dddb2fbdb!
            2z0JrRi9GA0LPRi9C30YHQutC-LdCi0YPRgNC10YbQutC40Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiAi0JzQsNC90LDRgSI!5e0!3m2!1sru!
            2skg!4v1479375066889"   frameborder="0" style="border:0"
                        allowfullscreen></iframe>
                <h4>Bishkek, KYRGYZ REPUBLIC, micro-region Djal, 43</h4>

                <ul class="contacts fz">
                    <li><img src="{% static 'images/message.png' %}" alt="image">

                        <p>maub@manas.edu.kg</p></li>
                    <li><img src="{% static 'images/phone.png' %}" alt="image">

                        <p>+996 312 49 27 88<br>+996 312 49 27 86</p></li>
                    <li><img src="{% static 'images/fax.png' %}" alt="image">

                        <p>+996 312 49 27 81-89<br>+996 312 49 27 61</p></li>
                </ul>
            </div>
            <div class="s_block">
                <form method="post" action="#">
                    <input type="text" name="name" maxlength="25" placeholder="ad">
                    <input type="email" name="email" placeholder="E-mail">
                    <input type="text" name="name" placeholder="Text">
                    <!--<input type="text" name="name" placeholder="Text your message here...">-->
                    <label>
                        <textarea name="text" placeholder="Text your message here"></textarea>
                    </label>
                    <!--<textarea></textarea>-->
                    <input type="submit" value="Gönder">
                </form>
            </div>

        </div>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}