{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

  <header id="home">
        <div class="pattern">

            <div class="h_bg"></div>
            <div class="grid content1">
                <ul class="language">
                    <li><a href="/tr">Tür</a></li>
                    <li><a href="/en">eng</a></li>
                    <li><a href="/">кыр</a></li>
                    <li><a href="#">az</a></li>
                    <li><a href="#">kz</a></li>
                </ul>

                <div class="logo">
                    <a href="{% url 'index' %}"> <img src="{% static 'images/logo-Turk-Uni.png' %}" alt="logo"></a>

                    <div class="slogan">
                        <h1>TÜRK KENEŞİ</h1>

                        <p>TÜRK ÜNİVERSİTELER BİRLİĞİ</p>
                    </div>
                </div>
            </div>
        </div>


        {% load i18n %}

        <nav class="fixed-header">
            <div class="grid">
                <ul class="menu">
                    <li><a href="{% url 'index' %}#home">Ana Sayfa</a></li>
                    <li><a href="{% url 'index' %}#news">Haberler</a></li>
                    <li><a href="{% url 'index' %}#about">Hakkımızda</a></li>

                    <li><a href="{% url 'index' %}#member">Üyeler</a></li>

                    <li><a href="{% url 'index' %}#entertaintments">Etkinlikler</a></li>
                    <li><a href="{% url 'index' %}#photos">Fotoğraflar</a></li>
                    <li><a href="{% url 'index' %}http://www.turkkon.org/tr-TR/AnaSayfa" target="_blank">Türk Keneşi</a>
                    </li>
                    <li><a href="{% url 'index' %}#council">Öğrenci Keneşi</a></li>
                    <li><a href="{% url 'index' %}#contacts">İletişim</a></li>
                </ul>
            </div>
        </nav>

    </header>

    <div class="g_photos">
        <div class="grid group">

            <h1>TÜRKÜNİB Öğrenci Keneşi Bişkek toplantısı</h1>
            <div class="images">
                <a href="{% static 'images/IMG_0807-2.jpg' %}" class="item"><img
                        src="{% static 'images/IMG_0807-2.jpg' %}" alt="image"></a>
                <a href="{% static 'images/IMG_0825-2.jpg' %}" class="item"><img
                        src="{% static 'images/IMG_0825-2.jpg' %}" alt="image"></a>
                <a href="{% static 'images/IMG_0727-2.jpg' %}" class="item"><img
                        src="{% static 'images/IMG_0727-2.jpg' %}" alt="image"></a>
                <a href="{% static 'images/IMG_0518-2.jpg' %}" class="item"><img
                        src="{% static 'images/IMG_0518-2.jpg' %}" alt="image"></a>
                <a href="{% static 'images/IMG_0530-2.jpg' %}" class="item"><img
                        src="{% static 'images/IMG_0530-2.jpg' %}" alt="image"></a>
                <a href="{% static 'images/IMG_0538-2.jpg' %}" class="item"><img
                        src="{% static 'images/IMG_0538-2.jpg' %}" alt="image"></a>
                <a href="{% static 'images/IMG_0549-2.jpg' %}" class="item"><img
                        src="{% static 'images/IMG_0549-2.jpg' %}" alt="image"></a>
                <a href="{% static 'images/IMG_0557-2.jpg' %}" class="item"><img
                        src="{% static 'images/IMG_0557-2.jpg' %}" alt="image"></a>
                {#                <a href="assets/images/IMG_0722-2.jpg" class="item"><img src="assets/images/IMG_0722-2.jpg" alt="image"></a>#}
                <!--<a href="assets/images/IMG_0807-2.jpg" class="item"><img src="assets/images/IMG_0807-2.jpg" alt="image"></a>-->
                <!--<a href="assets/images/IMG_0807-2.jpg" class="item"><img src="assets/images/IMG_0807-2.jpg" alt="image"></a>-->
                <!--<a href="assets/images/IMG_0807-2.jpg" class="item"><img src="assets/images/IMG_0807-2.jpg" alt="image"></a>-->
                <!--<a href="assets/images/IMG_0807-2.jpg" class="item"><img src="assets/images/IMG_0807-2.jpg" alt="image"></a>-->
            </div>
        </div>
    </div>

    <a href="{% url 'index' %}"><h4 style="text-align: center">Back</h4></a>



{% endblock %}


