{% extends 'base.html' %}

{% load staticfiles %}


{% block content %}
    <div class="activities">

        <div class="grid">

            {% for active in activity %}

                <div class="activity">
                    {% for item in active.activityimage3_set.all %}
                        <div class="activity_img">
                            <img src="/media/{{ MEDIA_URL }}{{ item.image }}" alt="image" width="338" height="250">
                        </div>
                    {% endfor %}
                    <p class="fz"><a href="{{ active.get_absolute_url }}">{{ active.title }}</a></p>
                    <p class="fz"><a href="{{ active.get_absolute_url }}">{{ active.description|truncatewords:5 }}</a>
                    </p>

                    <a href="#" class="l_button">READ MORE</a>

                </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}