{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <header id="home">
        <div class="pattern">

            <div class="h_bg"></div>
            <div class="grid content1">
                <ul class="language">
                    <li><a href="/tr">Tür</a></li>
                    <li><a href="/en">eng</a></li>
                    <li><a href="/">кыр</a></li>
                    <li><a href="#">az</a></li>
                    <li><a href="#">kz</a></li>
                </ul>

                <div class="logo">
                    <a href="{% url 'index' %}"> <img src="{% static 'images/logo-Turk-Uni.png' %}" alt="logo"></a>

                    <div class="slogan">
                        <h1>TÜRK KENEŞİ</h1>

                        <p>TÜRK ÜNİVERSİTELER BİRLİĞİ</p>
                    </div>
                </div>
            </div>
        </div>


        {% load i18n %}

        <nav class="fixed-header">
            <div class="grid">
                <ul class="menu">
                    <li><a href="{% url 'index' %}#home">Ana Sayfa</a></li>
                    <li><a href="{% url 'index' %}#news">Haberler</a></li>
                    <li><a href="{% url 'index' %}#about">Hakkımızda</a></li>

                    <li><a href="{% url 'index' %}#member">Üyeler</a></li>

                    <li><a href="{% url 'index' %}#entertaintments">Etkinlikler</a></li>
                    <li><a href="{% url 'index' %}#photos">Fotoğraflar</a></li>
                    <li><a href="{% url 'index' %}http://www.turkkon.org/tr-TR/AnaSayfa" target="_blank">Türk Keneşi</a>
                    </li>
                    <li><a href="{% url 'index' %}#council">Öğrenci Keneşi</a></li>
                    <li><a href="{% url 'index' %}#contacts">İletişim</a></li>
                </ul>
            </div>
        </nav>

    </header>

    <div class="list_of_news">
        <div class="grid">
            <div class="news">
                <h3>All News</h3>

                <div class="line"></div>
                <div class="list_news wow slideInLeft" data-wow-offset="250">
                    <div class="l_news">
                        <h4>Türk Üniversiteler Birliği Kapsamında Staj</h4>
                        <span>Yesterday</span>

                        <p>11-12 Nisan 2016 tarihlerinde Erzurum’da gerçekleşen Türk Keneşi Türk Üniversiteler Birliği
                            İkinci
                            Genel Kurulu’nun</p>
                    </div>

                    <div class="l_news">
                        <h4>KTMÜ’de Orhun Süreci Çalıştayı Ön Toplantısı Yapıldı</h4>
                        <span>26/09/2016</span>

                        <p>11-12 Nisan 2016 tarihlerinde Erzurum’da gerçekleşen Türk Keneşi Türk Üniversiteler Birliği
                            İkinci Genel Kurulu’nun</p>
                    </div>

                    <div class="l_news">
                        <h4>Türk Üniversiteler Birliği Kapsamında Staj </h4>
                        <span>26/09/2016</span>

                        <p>11-12 Nisan 2016 tarihlerinde Erzurum’da gerçekleşen Türk Keneşi Türk Üniversiteler Birliği
                            İkinci Genel Kurulu’nun</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="bg7" id="contacts">
        <div class="grid content6">
            <h3>Contact us</h3>

            <div class="line"></div>

            <div class="f_block">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8275.258121169378!2d74.56836067110994!
            3d42.83598807541677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec9ebd50abdf1%3A0x14ce488dddb2fbdb!
            2z0JrRi9GA0LPRi9C30YHQutC-LdCi0YPRgNC10YbQutC40Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiAi0JzQsNC90LDRgSI!5e0!3m2!1sru!
            2skg!4v1479375066889" width="88.88888888888889%" height="305" frameborder="0" style="border:0"
                        allowfullscreen></iframe>
                <h4>Bishkek, KYRGYZ REPUBLIC, micro-region Djal, 43</h4>

                <ul class="contacts fz">
                    <li><img src="{% static 'images/message.png' %}" alt="image">

                        <p>maub@manas.edu.kg</p></li>
                    <li><img src="{% static 'images/phone.png' %}" alt="image">

                        <p>+996 312 49 27 88<br>+996 312 49 27 86</p></li>
                    <li><img src="{% static 'images/fax.png' %}" alt="image">

                        <p>+996 312 49 27 81-89<br>+996 312 49 27 61</p></li>
                </ul>
            </div>
            <div class="s_block">
                <form method="post" action="#">
                    <input type="text" name="name" maxlength="25" placeholder="First Name">
                    <input type="email" name="email" placeholder="E-mail">
                    <input type="text" name="name" placeholder="Subject">
                    <!--<input type="text" name="name" placeholder="Text your message here...">-->
                    <label>
                        <textarea name="text">Text your message here...</textarea>
                    </label>
                    <!--<textarea></textarea>-->
                    <input type="submit" value="SEND MESSAGE">
                </form>
            </div>

        </div>
    </div>

{% endblock %}