{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="bg6" id="photos"
         style='background: rgba(255, 255, 255, 0.3) url("{% static 'images/brown.jpg' %}") center no-repeat;'>
        <div class="grid content5">
            <h3>Photos</h3>
            <div class="line"></div>
            <div class="gallery">
                {% for photo in photos %}
                    <img class="wow zoomIn" data-wow-offset="200" src="/media/{{ photo.file }}" alt="img" width="400px"
                         height="190px">
                {% endfor %}

            </div>

        </div>
    </div>
{% endblock %}