{% load i18n %}

<nav class="fixed-header">
    <div class="grid">
        <ul class="menu">
            <li><a href="#home">{% trans "Main page" %}</a></li>
            <li><a href="#news">Haberler</a></li>
            <li><a href="#about">HAKKIMIZDA</a></li>
            <li><a href="#member">Üyeler</a></li>
            <li><a href="http://www.turkkon.org/tr-TR/AnaSayfa" target="_blank">TÜRK KENEŞİ</a></li>
            <li><a href="#entertaintments">Etkinliker</a></li>
            <li><a href="#photos">Resim Galerisi</a></li>
            <li><a href="#contacts">İLETİŞİM</a></li>
        </ul>
    </div>
</nav>