{% load i18n %}

<nav class="fixed-header">
    <div class="grid">
        <ul class="menu">
            <li><a href="#home">{% trans "Main page" %}</a></li>
            <li><a href="#news">{% trans "news" %}</a></li>
            <li><a href="#about">{% trans "about" %}</a></li>
            <li><a href="#member">{% trans "members" %}</a></li>
            <li><a href="http://www.turkkon.org/tr-TR/AnaSayfa" target="_blank">{% trans "konsey" %}</a></li>
            <li><a href="#entertaintments">{% trans "entertaiments" %}</a></li>
            <li><a href="#photos">{% trans "photos" %}</a></li>
            <li><a href="#contacts">{% trans "contacts" %}</a></li>
        </ul>
    </div>
</nav>