{% load i18n %}

<nav class="fixed-header">
        <div class="grid">
            <ul class="menu">
                <li><a href="#home">Ana Sayfa</a></li>
                <li><a href="#news">Haberler</a></li>
                <li><a href="#about">Hakkımızda</a></li>
                <li><a href="http://www.turkkon.org/tr-TR/AnaSayfa" target="_blank">Türk Keneşi</a></li>
                <li><a href="#member">Üyeler</a></li>
                <li><a href="#council">Öğrenci Keneşi</a></li>
                <li><a href="#entertaintments">Etkinlikler</a></li>
                <li><a href="#photos">Fotoğraflar</a></li>
                <li><a href="#contacts">İletişim</a></li>
            </ul>
        </div>
    </nav>