{% extends 'base.html' %}


{% load staticfiles %}


{% block content %}

    <div class="single" style="display: inline-block; width: 500px; height: 300px;">


        <h1 style="color: black">{{ events.title }}</h1>


        {% for img in images %}



            <img class="img-responsive" src="/media/{{ MEDIA_URL }}{{ img.image }}" style="width: 400px; height: 230px;"/>


        {% endfor %}


    </div>

    <div style="display: inline-block; width: 300px; height: 300px;">


        <p style="color: black;">{{ events.description }}</p>


        <p style="color: black;">{{ events.text }}</p>
    </div>

{% endblock %}