{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <header id="home">
        <div class="pattern">

            <div class="h_bg"></div>
            <div class="grid content1">
                <ul class="language">
                    <li><a href="/ru"><img src="{% static 'images/kg_icon.png' %}"></a></li>
                    <li><a href="/"><img src="{% static 'images/tr_icon.png' %}"></a></li>
                    <li><a href="/en"><img src="{% static 'images/en_icon.png' %}"></a></li>
                    <li><a href="/az"><img src="{% static 'images/az_icon.ico' %}"></a></li>
                    <li><a href="/kz"><img src="{% static 'images/kz_icon.png' %}"></a></li>
                </ul>

                <div class="logo">
                    <a href="{% url 'index' %}"> <img src="{% static 'images/logo-Turk-Uni.png' %}" alt="logo"></a>

                    <div class="slogan">

                        <p>TÜRK ÜNİVERSİTELER BİRLİĞİ</p>
                    </div>
                    <a href="http://www.turkkon.org/tr-TR/AnaSayfa" target="_blank"><img
                            src="{% static 'images/logo_turrkon.png' %}"></a>
                </div>
            </div>
        </div>


        {% load i18n %}

        <nav class="fixed-header">
            <div class="menu-collapsed">
                <div class="bar"></div>
                <ul class="menu">
                    <li><a href="{% url 'index' %}#home">Ana Sayfa</a></li>
                    <li><a href="{% url 'index' %}#news">Haberler</a></li>
                    <li><a href="{% url 'index' %}#about">Hakkımızda</a></li>

                    <li><a href="{% url 'index' %}#member">Üyeler</a></li>

                    <li><a href="{% url 'index' %}#entertaintments">Etkinlikler</a></li>
                    <li><a href="{% url 'index' %}#photos">Fotoğraflar</a></li>
                    <li><a href="{% url 'index' %}http://www.turkkon.org/tr-TR/AnaSayfa" target="_blank">Türk Keneşi</a>
                    </li>
                    <li><a href="{% url 'index' %}#council">Öğrenci Keneşi</a></li>
                    <li><a href="{% url 'index' %}#contacts">İletişim</a></li>
                </ul>
            </div>
        </nav>

    </header>
    <div class="single_post">
        <div class="grid">
            <div class="single_news group">
                {% for img in images %}
                    <div class="single_img_block">
                        <img class="img-responsive" src="/media/{{ MEDIA_URL }}{{ img.image }}"/>
                    </div>
                {% endfor %}
                <h5>{{ news.title }}</h5>
                <p class="fz">{{ news.text }} </p>

                {{ news.content|safe }}

            </div>
        </div>
    </div>
{% endblock %}
